html,body,#root,.App{
  overflow-x: hidden;
  height: 100%;
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
  margin: 0;
}
div,ul,li,h1,h2,h3,h4,h5,h6,p{
  box-sizing: border-box;
  margin: 0;
}